
body{
    width:60em;
    margin:50px auto;
    font-family: Arial, Helvetica, sans-serif;
}
path {  /*stroke-width:1px;*/ stroke: #fff; }
path:hover, rect:hover {
    /*fill-opacity: 0.8;*/
    /*stroke:white;*/
    /*stroke-width:2;*/
    /*fill: none;*/
}
.axis {  font: 10px sans-serif; }

.axis path,
.axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

path.domain {
  stroke: none;
}

.allyear text {
  fill:white;
  font-size: 20px;
}
.allyear path.domain {
  stroke: #ccc;
}

.allyear .x path.domain {
  stroke:none;
}
.allyear .x line {
  stroke:none;
}
/*.x.axis path {  display: none; }*/

.allyear rect {
  fill: #2196F3;
  cursor: pointer;
}

.serie rect:hover {
  cursor: pointer;
}



.footer {
  font-size: 80%;
  color: #333;
  font-style: italic;
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}





/* CO2/kWh button */
.switch {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 24px;
  border-style: solid;
  border-width: 5px;
  border-color: #2196F3;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  color: #2196F3;
  font-weight: normal;
  font-family:Arial, Helvetica, sans-serif;
  font-size:20px;
  text-align:center;
  width:50px;
  height:22px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.slider+.slider {
  left: 52px;
  background-color: #2196F3;
  color: white;
  font-weight: bold;
}
input:checked + .slider {
  background-color: #2196F3;
  color: white;
  font-weight: bold;
}
input:checked + .slider + .slider {
  background-color: white;
  color: #2196F3;
  font-weight: normal;
}

p.whatif {
  margin-left:1.5em;
}

p.whatif:before {
  position: relative;
  margin-left:-1.5em;
  padding:0;
  font-size:80%;
  overflow: hidden;
  float: left;
  color: #888;
  content: "\25B6"; 
}

span.value {
  font-weight: bold;
  background-color: #ddd;
}

div.warning {
  padding: 0.5em 0 0.5em 6em;
  margin: 1em 0em 1em 0;
  background-color: #ff9f80;
}

div.warning:before {
  position: relative;
  margin-left:-1.25em;
  padding:0;
  font-size:400%;
  overflow: hidden;
  float: left;
  color: white;
  font-weight: bold;
  content: "\26A0"; 
}

div.tooltip { 
  position: absolute;     
  text-align: center;     
  width: 60px;
  padding: 2px;       
  font: 14px sans-serif;    
  background: #e8e6e3; 
  border: 0px;    
  border-radius: 8px;     
  pointer-events: none;     
}

.note {
  font-style: italic;
  font-size: 80%;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
tr,td {
  border-bottom: 1px solid white;
  margin-top: 0px;
  margin-bottom: 0;
}
td,th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
th , .travel_detail_group_row td{
  background-color: #d9b38c
}
tr {
  background-color: #f2e6d9
}
tr:hover {
  background-color: #e6ccb3
}
tr.highlight {
  background-color: #e6ccb3
}

.tabcontent2 .transparent, .tabcontent2 th.transparent  {
  background-color: white;
  border-bottom: 1px solid white;
}
.tabcontent2 tr.blank_row {
  height: 0.7em;
  background-color: white;
}

.content td.transparent, .content th.transparent {
  background-color: #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

.content tr.blank_row {
  height: 0.7em;
  background-color: #f1f1f1;
}

/* tabs */


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.tabactive {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent, .tabcontent2 {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent .tab button {
  font-size: 15px;
  padding: 7px 12px;
}

/* collapsible panels */

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 0.5em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 120%;
  /*font-weight: bold;*/
}

.tabcontent2 .collapsible {
  padding: 0.3em;
  font-size: 100%;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  /*content: '\002B';*/ /* '+' */
  content: '\25BC';
  font-size: 90%;
  color: white;
  float: right;
  margin-left: 1em;
}

.active:after {
  content: "\2212"; /* - */
  /*content: '\25B2';*/ /* triangle */
}

.content {
  padding: 0 1em;
  /*display: block;*/
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}



/* sticky element */
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding:0 1em;
  background-color: #f1f1f1;
  border-bottom: 6px solid #ddd;;
}

#global_buttons {
  float:right;
  margin: 0.5em 0;
}
.year_selector {
  width:70%;
  position:relative;
}

span.unit {
  font-size:80%;
  padding-left:2px;
}

input:enabled {
  /*background-color: #e1e1e1;*/
  border: 1px solid #cccccc;
}

input:disabled {
  background-color: #e1e1e1;
  border: 1px solid #cccccc;
}



/* lock/unlock */

input[type=checkbox].locker {
  display:none;
}

input[type=checkbox].locker + label
{
  background: url("lock_icon.png") left bottom no-repeat;
  background-size: 11px 14px;

  height: 15px;
  width: 11px;
  margin-left: -4px;
  display:inline-block;
  padding: 0px;
  margin-top:  0px;
  margin-right:6px;
  /*margin:auto;*/
}
 
 input[type=checkbox].locker:checked + label
{
  background: url("unlock_icon.png") left bottom no-repeat;
  background-size: 11px 14px;
}


/*.locker {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  width: 1.5em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('unlock_icon.png');
  margin-right: 3px;
}

.locker:checked {
  background-image: url('lock_icon.png');
}*/




.rangeslidecontainer {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;
}

.rangeslider {
  width: 100%;
  /*height: 25px;*/
  /*background: #d3d3d3;*/
  /*outline: none;*/
  /*opacity: 0.7;*/
}

/* Mouse-over effects */
.rangeslider:hover {
  /*opacity: 1;*/
}



/* The slider itself */
.rangeslider2 {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rangeslider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.rangeslider2::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
